body {
	--text-color: #fff;
	--background-color: #363dc2;
	--background-color-2: #282faf;
	--background-color-3: #202692;
	--link-color: #03b9f1;
	--link-hover-color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color: var(--text-color);
	background-color: var(--background-color);
}

main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--link-color);
	outline: none;
}

a:hover,
a:focus {
	color: var(--link-hover-color);
	outline: none;
}

/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.morph {
	position: relative;
	height: 100%;
	fill: var(--background-color-2);
	flex: none;
}

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;
}

.content {
	position: relative;
	display: grid;
}

.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 150px 150px 150px 150px; 
	grid-template-rows: 150px 75px 75px;
	grid-template-areas:	"... title title title"
							"author ... desc desc"
							"author ... link link";
}

.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	opacity: 0.8;
	width: 300px;
	height: 300px;
}

.content__title {
	grid-area: title;
	letter-spacing: -0.025em;
	font-size: 8em;
	line-height: 160px;
	margin: 0;
	text-transform: lowercase;
	z-index: 10;
	cursor: default;
}

.content__author {
	grid-area: author;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	padding: 1em;
	text-align: right;
	z-index: 10;
	cursor: default;
}

.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
	pointer-events: auto;
	grid-area: link;
	align-self: end;
	justify-self: start;
	z-index: 10;
	padding: 0 1em 0.15em;
}

.content__info {
	grid-column: 1 / 3;
}

body {
	--background-color: #1d1b22;
	--background-color-2: #342560;
	--background-color-3: #553e9a;
	--text-color: #fff;
	--link-color: #f9ed8a;
	--link-hover-color: #fff;
}